body {
  width: 100%;
  height: 1080px;
  background: url(../files/bg.jpg) no-repeat 50% 50% fixed;
}

h1 {
  font-size: 4.375em;  /* 70px */
  line-height: 1.29em; /* 90px */
  text-align: center;
}

#wrapper {
  height: 100%;
  overflow: hidden;
}

#container {
  width: 100%;
  padding: 30px 0 0 0;
}

.template { display: none; }

/* Dynamic grid aka default grid*/
.item {
  display: inline-block;
  width: 27%;
  margin: 1% 3%;
  vertical-align: top;
}

.location,
.time {
  display: block;
  font-size: 0.875em;  /* 14px */
  line-height: 2.42em; /* 34px */
}

.name {
  display: block;
  font-size: 2.188em; /* 35px */
  line-height: 1em;   /* 35px */
}
/* /Dynamic grid */

/* Special list */
#container.special .item {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0 5%;
  vertical-align: middle;
}

#container.special .location { display: none; }

#container.special .name {
  display: inline-block;
  width: 63%;
  font-size: 3.125em; /* 50px */
  line-height: 1.12em; /* 56px */
}

#container.special .time {
  display: inline-block;
  width: 26%;
  font-size: 1.75em; /* 28px */
  line-height: 2em; /* 56px */
  text-align: right;
}
/* /Special list */

/* Simple list */
#container.list .item {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0 5%;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#container.list .location,
#container.list .time {
  font-size: 2.5em; /* 40px */
  line-height: 1.33em; /* 53px */
}

#container.list .name {
  font-size: 4.375em; /* 70px */
  line-height: 1.17em; /* 82px */
}
/* /Simple list */
