h1 {
  font-size: 4.375em;  /* 70px */
  line-height: 1.29em; /* 90px */
  text-align: center;
}

.container {
  padding: 70px 40px 0 40px;
}

.location,
.time {
  display: block;
  font-size: 3.125em; /* 50px */
  line-height: 2.4em; /* 120px */
}

.name {
  display: block;
  font-size: 7.188em; /* 115px */
  line-height: 1em;   /* 115px */
}
