.container {
  padding-top: 100px;
}

.location,
.time {
  font-size: 2.188em;  /* 35px */
  line-height: 4.29em; /* 150px */
}

.name {
  font-size: 5.625em;  /* 90px */
  line-height: 1.11em; /* 100px */
}
