body {
  height: 1920px;
}

/* Dynamic grid aka default grid */
.item { width: 43%; }

.location,
.time {
  font-size: 1em;  /* 16px */
  line-height: 2.42em; /* 34px */
}

.name {
  display: block;
  font-size: 2.813em; /* 45px */
  line-height: 1em;   /* 45px */
}
/* /Dynamic grid */

/* Special list */
#container.special .item { padding: 3% 5%; }

#container.special .name {
  font-size: 2.188em; /* 35px */
  line-height: 1.43em; /* 50px */
}

#container.special .time {
  font-size: 1.75em; /* 28px */
  line-height: 1.79em; /* 50px */
}
/* /Special list */

/* Simple list */
#container.list .item { padding: 3%; }
/* /Simple list */
