<?xml version="1.0" encoding="UTF-8" ?>
<config>
  <url>grupp00.xml</url>
  <!-- <url>https://54.165.164.32/notice/rss/17?password=nNPOP</url> -->
  <unit>D</unit>
  <unit>OO</unit>
  <singlepost>false</singlepost>
  <showalways>false</showalways>
  <aftermidnight>3</aftermidnight>
  <limit>15</limit>
</config>
