<?xml version="1.0" encoding="UTF-8" ?>
<config>
  <url>production.xml</url>
  <!-- Possible values: default, list, special, dynamic_grid -->
  <!--
    Events that fit into different template layouts:
    1) list: 15 in vertical, 7 in horizontal
    2) special: 15 in vertical, 7 in horizontal
    3) default: 15 in vertical, 15 in horizontal
  -->
  <template>list</template>
  <unit>A</unit>
  <unit>B</unit>
  <showalways>false</showalways>
  <aftermidnight>3</aftermidnight>
  <limit>15</limit>
</config>
